@model PassengerAPI.Models.PassengerAcc

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>PassengerAcc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassengerId" class="control-label"></label>
                <input asp-for="PassengerId" class="form-control" />
                <span asp-validation-for="PassengerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerPassword" class="control-label"></label>
                <input asp-for="PassengerPassword" class="form-control" />
                <span asp-validation-for="PassengerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerName" class="control-label"></label>
                <input asp-for="PassengerName" class="form-control" />
                <span asp-validation-for="PassengerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerAddress" class="control-label"></label>
                <input asp-for="PassengerAddress" class="form-control" />
                <span asp-validation-for="PassengerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerMobile" class="control-label"></label>
                <input asp-for="PassengerMobile" class="form-control" />
                <span asp-validation-for="PassengerMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
